In [1]:
#######################
# standard code block #
#######################

# see https://ipython.readthedocs.io/en/stable/interactive/magics.html
%pylab inline
%config InlineBackend.figure_formats = ['retina']

#######################
#       imports       #
#######################
import pandas as pd
import seaborn as sns
# import sklearn

sns.set_style("whitegrid", {"font.family": ["serif"]})
sns.set_context("talk") # talk context is good for RISE presentations

Populating the interactive namespace from numpy and matplotlib

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LogisticRegression # to apply the Logistic regression
from sklearn.model_selection import train_test_split # to split the data into two parts

In [233]:
# load imdb data
df = pd.read_csv('./data/movies.csv')
del df['Unnamed: 0']
df.head()

,Title,WorldWideGross,Budget,ReleaseDate,Certificate,Runtime,Score,ScoreReviews,ImdbReviews,CriticReviews,MetaScore,Directors,Writers,Stars,Genres,Country,Locations,Companies
0,The Shawshank Redemption,2.881729e+07,25000000.0,1995-03-10,13+,142.0,9.3,2500000,9700,193,80.0,['Frank Darabont'],"['Stephen King', 'Frank Darabont']","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton']",['Drama'],United States,"['127A Smithfield Road, Frederiksted, Virgin I...",['Castle Rock Entertainment']
1,The Godfather,2.461210e+08,6000000.0,1973-10-01,18+,175.0,9.2,1700000,4700,269,100.0,['Francis Ford Coppola'],"['Mario Puzo', 'Francis Ford Coppola']","['Marlon Brando', 'Al Pacino', 'James Caan']","['Crime', 'Drama']",United States,"[""Forza d'Agr√≤, Messina, Sicily, Italy""]","['Paramount Pictures', 'Alfran Productions']"
2,The Godfather: Part II,4.803578e+07,13000000.0,1974-12-18,18+,202.0,9.0,1200000,1200,190,90.0,['Francis Ford Coppola'],"['Francis Ford Coppola', 'Mario Puzo']","['Al Pacino', 'Robert De Niro', 'Robert Duvall']","['Crime', 'Drama']",United States,"['Kaiser Estate, 4000 W Lake Blvd, Homewood, L...","['Paramount Pictures', 'The Coppola Company', ..."
3,The Dark Knight,1.005974e+09,185000000.0,2008-07-25,16+,152.0,9.0,2500000,7700,433,84.0,['Christopher Nolan'],"['Writers', 'Jonathan Nolan', 'Christopher Nol...","['Christian Bale', 'Heath Ledger', 'Aaron Eckh...","['Action', 'Crime', 'Drama', 'Thriller']",United States,"['Chicago, Illinois, USA']","['Warner Bros.', 'Legendary Entertainment', 'S..."
4,12 Angry Men,9.550000e+02,350000.0,1960-04-01,15+,96.0,9.0,740000,1800,160,96.0,['Sidney Lumet'],['Reginald Rose'],"['Henry Fonda', 'Lee J. Cobb', 'Martin Balsam']","['Crime', 'Drama']",United States,['New York County Courthouse - 60 Centre Stree...,['Orion-Nova Productions']

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           250 non-null    object
 1   WorldWideGross  240 non-null    float64
 2   Budget          221 non-null    float64
 3   ReleaseDate     250 non-null    object
 4   Certificate     250 non-null    object
 5   Runtime         244 non-null    float64
 6   Score           250 non-null    float64
 7   ScoreReviews    250 non-null    int64
 8   ImdbReviews     250 non-null    int64
 9   CriticReviews   250 non-null    int64
 10  MetaScore       218 non-null    float64
 11  Directors       250 non-null    object
 12  Writers         250 non-null    object
 13  Stars           250 non-null    object
 14  Genres          250 non-null    object
 15  Country         250 non-null    object
 16  Locations       236 non-null    object
 17  Companies       250 non-null    object
dtypes: float64(5), int64(3), object(10)
memory usage: 35.3+ KB

In [241]:
df.isnull().any()

Title             False
WorldWideGross    False
Budget            False
ReleaseDate       False
Certificate       False
Runtime           False
Score             False
ScoreReviews      False
ImdbReviews       False
CriticReviews     False
MetaScore         False
Directors         False
Writers           False
Stars             False
Genres            False
Country           False
Locations         False
Companies         False
dtype: bool

In [236]:
# print(np.where(df['Budget']>300_000_000))
df['WorldWideGross'].fillna(value=0, inplace=True)
df['Budget'].fillna(value=0, inplace=True)
df['Runtime'].fillna(value=0, inplace=True)
df['MetaScore'].fillna(value=0, inplace=True)
df['Locations'].fillna('Nowhere', inplace=True)
df.shape

(250, 18)

In [240]:
print(np.where(df['WorldWideGross']==0))
print(np.where(df['Budget']==0))
print(np.where(df['Runtime']==0))
print(np.where(df['MetaScore']==0))

(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)

In [238]:
df['Budget'][df['Budget']>330_000_000] = df['Budget'][df['Budget']<330_000_000].mean()

/tmp/ipykernel_38056/1404209010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Budget'][df['Budget']>330_000_000] = df['Budget'][df['Budget']<330_000_000].mean()

In [239]:
df['WorldWideGross'] = df['WorldWideGross'].replace(0, np.mean(train['WorldWideGross']))
df['Budget'] = df['Budget'].replace(0, np.mean(train['Budget']))
df['Runtime'] = df['Runtime'].replace(0, np.mean(train['Runtime']))
df['MetaScore'] = df['MetaScore'].replace(0, np.mean(train['MetaScore']))

In [242]:
dummies = pd.get_dummies(df['Genres'])

df.drop('Genres', axis = 1, inplace=True)

X = pd.concat([df, dummies], axis = 1)

In [351]:
from sklearn.linear_model import LinearRegression
# importing linear regression
lreg = LinearRegression()

from sklearn.model_selection import train_test_split

X = df.drop(['Title', 'WorldWideGross', "ReleaseDate", "Certificate"
             , "Score", "ScoreReviews", "ImdbReviews", "CriticReviews"
             , "MetaScore", "Directors", "Writers", "Stars", "Country"
             , "Locations", "Companies"], 1)

x_train, x_cv, y_train, y_cv = train_test_split(X, df.WorldWideGross, test_size =0.2)

/tmp/ipykernel_38056/4031736244.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = df.drop(['Title', 'WorldWideGross', "ReleaseDate", "Certificate"

In [352]:
lreg.fit(x_train, y_train)

LinearRegression()

In [353]:
# Linear modelimizi eƒüitelim

lreg.fit(x_train,y_train)

# calculating mse

mse = np.mean((x_cv['Budget'] - y_cv)**2)

mse

# evaluation using r-square

lreg.score(x_cv, y_cv)

0.49923902778136353